<html>
<head>
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/create.css" />
</head>

<body>
	<div id='header' command="window-caption">  
    <div id='window-buttons'>
      <span command="window-min">0</span>
      <span command="window-close">r</span> 
    </div>
	</div> 

  <div id='wrap'>
    <table align='center'> 
      <tr id='typeBox'>
        <th></th>
        <td>
          <select id='objectType'>
             <option value='todo' selected='selected'>待办</option>
             <option value='story'>需求</option>
             <option value='task'>任务</option>
             <option value='bug'>Bug</option>
          </select>
        </td>
      </tr>  
      <tr class='hidden' id='productBox'>
        <th></th>
        <td><select class='w-p95'><div id='products'></div></select></td>
      </tr>  
      <tr class='hidden' id='projectBox'>
        <th></th>
        <td><select class='w-p95'><div id='projects'></div></select></td>
      </tr>  
      <tr id='titleBox'>
        <th></th>
        <td> <input type='text' name='name' id='name' value='' class='w-p95' /></td>
      </tr>
      <tr id='descBox'>
        <th></th>
        <td><textarea name='desc' id='desc' rows='20' class='w-p95'></textarea></td>
      </tr>  
      <tr><td></td><td><input type='submit' value='保存'><div id='result'></div></td></tr>
    </table>
  </div>
</body>
</html>
