<html>
<head><link rel="stylesheet" href="css/common.css" /></head>
<head><link rel="stylesheet" href="css/index.css" /></head>
<body>
	<div id='header' command="window-caption">  
    <div id='title'>禅道桌面提醒工具1.1</div>
    <div id='window-buttons'>
      <span id="window-dropMenu">6</span>
      <span command="window-min">0</span>
      <span id="window-close">r</span> 
    </div>
	</div> 


  <div id='wrap'>
    <div class="tabs">
      <div class='strip' id="moduleMenu" >  
         <div panel="todo" selected><div><a id='icon-todo'></a><span></span></div></div>
      </div>

      <div id='dropMenu' class='hidden'>
        <ul>
          <li><a id='logout'></a></li>
          <li><a id='exit'></a></li>
        </ul>
      </div>

      <div name="todo" id='todo' class='outer'>
        <div class='featureBar'></div>
        <table id='todoList' class='dataList'></table>
      </div>

      <div name="story" id='story' class='outer'>
        <div class='featureBar'></div>
        <table id='storyList' class='dataList'></table>
      </div>

      <div name="task" id='task' class='outer'>
        <div class='featureBar'></div>
        <table id='taskList'  class='dataList'></table>
      </div> 

      <div name="bug" id='bug' class='outer'>
        <div class='featureBar'></div>
        <table id='bugList' class='dataList'></table>
      </div> 

      <div id='result'></div>
    </div> 
  </div>
</body>   
</html>   
