<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery.ui.all.css" type="text/css" rel="Stylesheet" />
  <link rel="stylesheet" href="css/index.css" />
</head>

<body> 
  <div id="tabs" >
    <ul id="moduleMenu"></ul>
    <div id="featureBar"></div>
    <div id='todoPage' class='listPage'><table id='todoList'></table></div> 
    <div id='storyPage' class='listPage'><table id='storyList'></table></div> 
    <div id='taskPage' class='listPage'><table id='taskList'></table></div> 
    <div id='bugPage' class='listPage'><table id='bugList'></table></div> 
  </div>
</body>
</html>
