<html>
<head><link rel="stylesheet" href="css/index.css" /></head>
<body>
	<div id='window-buttons'>  
		<a command="window-setting"></a>
		<a command="window-min" ></a>
		<a command="window-close" ></a> 
	</div> 

  <div id='outer'>
    <div class="tabs">
      <div class='strip' id="moduleMenu" >  
         <div panel="todo" selected>
           <div><a id='icon-todo'></a><span>待办</span></div>
         </div>
         <div panel="story">
           <div><span id='icon-story'></span><span>需求</span></div>
         </div>
         <div panel="task">
           <div><span id='icon-task'></span><span>任务</span></div>
         </div>         
      </div>

      <div name="todo">
      <div class='featureBar'></div>
      我是待办
      </div>

      <div name="story">
      <div class='featureBar'></div>
      我是需求
      </div>

      <div name="task">
      <div class='featureBar'></div>
      我是任务
      </div> 
    </div> 
  </div>
</body>   
</html>   


