<html>
<head>
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/login.css" />
</head>
 
<body >  
	<div id='header' command="window-caption">  
    <div id='title'></div>
    <div id='window-buttons'>
      <span command="window-close">r</span> 
    </div>
	</div> 
	
  <div id="wrap">
    <div id='form'>
    	<div class='form-row'><input type="text" id='zentaourl' novalue='禅道地址' > </input> </div>
    	<div class='form-row'><input type="text" id='account'   novalue='用户名'> </input> </div>
    	
    	<div class='form-row'>
    		<div id='password-box'> 
    			<input type="password" id="password" novalue="密码"></input>  
    			<button id="pop-keyboard"><img src="images\kb.png" width="16" height="16" alt=""/>
    				<popup> 
    				<button>1<sup>!</sup></button><button>2<sup>@</sup></button><button>3<sup>#</sup></button><button>4<sup>#</sup></button><button>5<sup>%</sup></button><button>6<sup>^</sup></button><button>7<sup>&</sup></button><button>8<sup>*</sup></button><button>9<sup>(</sup></button><button>0<sup>)</sup></button><button>`<sup>~</sup></button><button .nosup>Eackspace</button><br/>
            <button type="checkbox" .nosup>Shift</button><button>=<sup>+</sup></button><button>'<sup>"</sup></button><button>,<sup><</sup></button><button>.<sup>></sup></button><button>/<sup>?</sup></button><button>_<sup>-</sup></button><button>=<sup>+</sup></button><button>\<sup>|</sup></button><button>[<sup>}</sup></button><button>]<sup>}</sup></button><button>;<sup>:</sup></button><button .nosup>Caps Lock</button><br/>
            <button>c</button><button>d</button><button>e</button><button>f</button><button>g</button><button>h</button><button>i</button><button>j</button><button>k</button><button>l</button><button>m</button><button>a</button><button>b</button><br/><button>v</button><button>w</button><button>x</button><button>y</button><button>z</button><button>n</button><button>o</button><button>p</button><button>q</button><button>r</button><button>s</button><button>t</button><button>u</button> 
    				</popup> 
    			</button> 
    		</div>
    	</div>
      <button id="login" align='center'> 登&nbsp;&nbsp;&nbsp;录 </button>
    </div> 	 
  </div>
  <div id='result'></div>
	
</body>
</html>
